<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86734367320-0qb8t38d66sj4rvush3ag0qktgqls8tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86734367320-0qb8t38d66sj4rvush3ag0qktgqls8tn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86734367320-u1jp09s9p063jupvmlf5dntv253iaue5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqNHmStjGfU-RjBMt5QzEFexwr25SYOTA</string>
	<key>GCM_SENDER_ID</key>
	<string>86734367320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-f492c</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-f492c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86734367320:ios:53299fb21b7e0c3f</string>
	<key>DATABASE_URL</key>
	<string>https://navigation-f492c.firebaseio.com</string>
</dict>
</plist>